*{
  box-sizing: border-box;
}

body{
  font-family: 'Merriweather', serif;
}

.heavy-hr,
.light-hr {
  margin: 5px 1em;
  border: none;
  background-color: #2d3945;
}

.heavy-hr{
  height: 4px;
}

.light-hr {
  height: 2px;
}

/*-----------Header styles-----------*/
h1 {
  background-color: #2d3945;
  color: #efefefs;
  margin: 0;
  padding: 1.5em;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25em;
}

h2{
  color: #2d3945;
  font-size: 1.25em;
  text-align: center;
  padding-top: 1em;
}

 header p {
  font-size: .9em;
  color: #bec2c5;
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 2.25em;
  line-height: 1.25;
  font-weight: lighter;
}


/*-----------Form styles-----------*/

form {
  padding: 1em;
}

legend {
  color: #2d3945;
  font-weight: bold;
  font-size: 1.25em;
  margin-bottom: .25em;
}


 fieldset {
  border: none;
  padding: 0;
  margin-inline-start:0;
  margin-inline-end:0;
  padding-bottom: 1.5em;
  display: flex;
  flex-direction: column;
}

fieldset:first-child {
  border-bottom: 2px solid #2d3945;
  margin-bottom: 1.25em;
}

.contact-group {
  display: flex;
  flex-direction: column;
  margin: .5em 0;
}

label{
  font-size: .9em;
  font-weight: lighter;
  color: #929eaa;
  padding-top: .5em;
  padding-bottom: .5em;
}

input, select, textarea{
  display: flex;
  font-size: .9em;
  background-color: #eff0f1;
  border: none;
  padding: .7em;
  border-radius: 3px;
  font-size: .9em;
  color:#2d3945;
}

input:focus, select:focus, textarea:focus{
  outline-color: #46698b;
  box-shadow: 0 4px 8px lightgrey;
  transition: .5s;
}

input.required::placeholder{
  text-align: right;
  font-style: italic;
  font-size: .7em;
}

input::placeholder{

    line-height: 1.5;
    padding: 5px;
    color: #b3b8bb;
}

 input[id=zip-code]{
  width: 50%;
}

.news-group {
  display: flex;
  flex-direction: row;
  margin-bottom: .75em;
}

.news-group input {
  width: auto;
  flex-grow: 0;
  display: flex;
}

.news-group label{
  display: flex;
  flex-grow: 1;
  padding: 0;
  padding-left: .75em;
}

textarea {
  background-color: #eff0f1;
  border: none;
  width: 100%;
  min-height: 8em;
}

button {
  background-color: #4ebbb5;
  border: none;
  border-radius: 3px;
  padding: 1em;
  width: 100%;
  color: white;
}

footer{
  height: 15em;
  background-color: #2d3945;
}

footer p {
  text-align: center;
  font-size: .9em;
  font-weight: lighter;
  color: #929eaa;
  padding: 4em;
  margin: 0;
}


/*-----------Media Queries-----------*/

@media (min-width: 768px){
  .container {
    width: 60%;
    max-width: 620px;
    margin: auto;
  }

  header p {
    margin-bottom: 3em;
  }

  form{
    padding-top: 1.5em;
    margin-bottom: 5em;
  }

  fieldset{
    padding-bottom: 1.5em;
  }

  fieldset:first-child{
    margin-bottom: 2em;
  }

  legend {
    margin-bottom: 1em;
  }

  .contact-group {
    flex-direction: row;
    margin: 1em 0;
    width: 100%;
    align-items: center;
  }

  .contact-group label {
    display: flex;
    flex-grow: 1;
    flex-basis: 100px;
  }

  .contact-group input,
  .contact-group select,
  .contact-group div {
    flex-grow: 3;
    flex-basis: 280px;
  }

  .news-group {
    margin-top: .5em;
  }

  .news-group:nth-of-type(2n+3){
    margin-bottom: 1.25em;
  }




}
